* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
body {
  background-image: linear-gradient(-225deg, #a8bfff 0%, #884d80 100%);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
}
.card {
  width: 450px;
  max-width: 470px;
  background-color: rgba(255, 255, 255, 0.5);
  color: #884d80;
  margin: 100px auto 0;
  border-radius: 1.5rem;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 1px solid rgba(255, 255, 255, 0.3);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2rem);
  padding: 40px 35px;
  text-align: center;
}
.circle1,
.circle2 {
  background: rgba(255, 255, 255, 0.2);
  height: 250px;
  width: 250px;
  position: absolute;
  border-radius: 50%;
}
.circle1 {
  top: 230px;
  right: 350px;
}
.circle2 {
  bottom: 150px;
  left: 350px;
}
.search {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-betwee;
}
.search input {
  width: 100%;
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.2);
  outline: none;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 1rem;
  letter-spacing: 1px;
  color: rgba(0, 0, 0, 0.9);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.04);
  transition: 0.4s;
}
.search input:focus {
  border: 1px solid rgb(255, 255, 255);
  box-shadow: 0 5px 15px rgba(255, 255, 255, 0.61);
}
.search input::placeholder {
  color: rgba(0, 0, 0, 0.3);
}
.search button {
  border: 0;
  outline: 0;
  background: rgba(255, 255, 255, 0.6);
  color: #884d80;
  border-radius: 50%;
  width: 60px;
  height: 50px;
  cursor: pointer;
  transition: 0.4s;
  margin-left: 10px;
}
.search button:hover {
  background: rgba(255, 255, 255, 0.2);
}

.search button img {
  width: 20px;
}
.weather-icon {
  width: 170px;
  margin-top: 30px;
}
.weather h1 {
  font-size: 80px;
  font-weight: 500;
}
.weather h2 {
  font-size: 45px;
  font-weight: 400;
  margin-top: -10px;
}
.details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  margin-top: 50px;
}
.col {
  display: flex;
  align-items: center;
  text-align: left;
}
.col img {
  width: 40px;
  margin-right: 10px;
}
.humidity,
.wind {
  font-size: 28px;
  margin-top: -6px;
}
.weather {
  display: none;
}
.error {
  text-align: left;
  margin-left: 10px;
  margin-top: 10px;
  font-size: 14px;
  display: none;
}
.circle1,
.circle2 {
  transition: all 0.5s ease;
}
